@import '//index.css';

.container{
  margin: 0 auto;
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width:1024px) {
    max-width: 750px;
  }

  @media (max-width:768px) {
    max-width: 550px;
  }

  @media (max-width:576px) {
    max-width: 310px;
  }
  
}

.login{
  position: absolute;
  top: 20px;
  right: 25px;

  &__greeting{
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: right;
  }

  &__singout{
    position: absolute;
    right: 5px;
    width: 100px;
    height: 25px;
    background-color: transparent;
    font-size: 14px;
    border: 1px solid var(--text-color-dark);
    border-radius: 5px;
    font-weight: var(--fw-medium);
    cursor: pointer;

    &:hover{
      transform: scale(1.05);
    } 
  }

}
